<!DOCTYPE html>
<html lang="{{ hl }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{{ title }}{% endblock %} - {% block name %}{{ sitename }}{% endblock %}</title>
    {% if css|length > 0 %}
        {% for style in css %}
            <link rel="stylesheet" href="{{ style }}"/>
        {% endfor %}
    {% endif %}

</head>

<body>
{% include "parts/navigation.twig" with { "navigation" : navigation} %}
{% if breadcrumbs|length > 0 %}
    {% include "parts/breadcrumb.twig" with { "crumbs" : breadcrumbs} %}
{% endif %}

{% include "parts/masthead.twig" %}

<div id="content">
    <div class="container-fluid py-3">
        {% block content %}{% endblock %}
    </div>
</div>

<!-- Call to Action -->
{% include "parts/calltoaction.twig" %}

<!-- Footer -->
{% include "parts/footer.twig" %}
{% if js|length > 0 %}
    {% for script in js %}
        <script src="{{ script }}"></script>
    {% endfor %}
{% endif %}
</body>
</html>

